*.o
*.cm*
*.annot
/parsing/parse.ml
/parsing/parse.mli
/parsing/parse.output
/parsing/scan.ml
/qc

*Fig_graph_ml.pdf
*Fig_graph_mli.pdf

/h_camlburg/mlburg
/h_camlburg/parsing/parse.output
/TAGS
/h_camlburg/demos/test
